body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  margin:1em;
  padding:1em;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 2em;
  background-color:#e2f2e2;
  padding:1em;
  border-radius: 5px;

}
.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em;

  flex-wrap: wrap;
}

button{
  border: none;
  border-radius: 5px;
  margin:0.5em;
  font-size: 1em;

  cursor: pointer;
}
.highlight{
  background-color:  #00FF00;
  padding: 1em;
  margin-top: 1em;

}

.unhighlight{
  background-color:rgb(244, 244, 244);
  padding: 1em;
  margin-top: 1em;
}



.sortBtn{
  background-color:  black;
  color: white;
  padding:1em;
  margin: 1em;
}

.arrow{
  margin:1em;
  position: fixed;
  bottom:0;
  right:0;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
  font-size: 2em;

}